* {
    margin: 0;
    padding: 0;
}

.main-content img{
width: 200px;
margin-right: 30px;
display: inline-block;

}

.main-content{
    background-color: aqua;
    display: block;
    padding: 10px;
    
}

.Sec2 {
    background-color: aqua;
    display: inline-block;
    margin-top: 5%;
    position: relative;
    text-align: left;
}

.classificacao{
    background-color:red;
    display: inline-block;
}

.navegacao li {display: inline;
}
