h1, p, li {
   text-align: center;
   
}
li:hover{
    background-color: rgb(245, 180, 180);
}

.box{
    padding: 0;
    max-width: 300px;
 
    background-color:rgb(255, 224, 47);
    margin: auto;
    border-radius: 10%;
    }
    .box2{
        background-color:rgb(168, 70, 152);
        color: white;
        border-radius: 10%;
        max-width: 300px;
        padding: 10;
        margin: auto;

    }

